/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Nunito", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

/* Estilos del encabezado */
header {
  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
  color: #dcdcdc;
  padding: 20px;
  text-align: center;
}

/* Estilos de la barra de navegación */
nav {
  font-family: "Nunito", sans-serif;
  background-color: #dcdcdc;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #1e1e1e;
  padding: 5px;
}

/* Estilos del contenido principal */
main {
  padding: 20px;
  background-color: #dcdcdc;
}

/* Estilos de las secciones */
section {
  margin-bottom: 30px;
}

section h2 {
  color: #333;
}

/* Estilos de las clases*/
.container {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  gap: 10px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 600px;
  gap: 10px;
}

.linkedin {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}

.buttonPortafolio {
  border-radius: 8px;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
}

.project h3 {
  margin-top: 10px;
}

.project p {
  color: #777;
}

.project a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #1e1e1e;
  color: #dcdcdc;
  text-decoration: none;
  margin-top: 10px;
}

/* Estilos del pie de página */
footer {
  font-family: "Nunito", sans-serif;
  background-color: #1e1e1e;
  color: #dcdcdc;
  padding: 10px;
  text-align: center;
}
