
p {
  text-align: center;
}

h1,
h2,
th {
  font-family: "Nunito", sans-serif;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

section {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
  padding: clamp(0px, vw100, 20px);
  margin: 0 auto;
  border-spacing: 5px;
  border-collapse: separate;
}

th,
td {
  background: #eed75e;
  color: #141103;
  padding: 15px 20px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

th:hover,
td:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fdf1c5;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
  display: flex;
}

header {
  background-color: #e4ce5a;
  flex: 1;
  width: 100%;
}

main {
  background-color: #fdf1c5;
  overflow-x: hidden;
  width: 100%;
}
footer {
  background-color: #1d1905;
  color: #fff4a3;
  width: 100%;
}

/* Clases*/

.img-responsiva {
  max-width: 300px;
  height: 200px;
  width: 100%;
  border-radius: 6px;
  border: none;
}

.footer {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  height: 60px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img-footer-links {
  max-width: 300px;
  max-height: 150px;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  border: none;
}
